body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar{
    width: 100%;
    padding: 10px 10px;
    background-color: aqua;
    overflow: hidden;
  }
  .navbar a{
    float: left;
    text-decoration: none;
    padding: 10px 10px;
    color: black;
  }
  .dropdown{
    float: left;
    overflow: hidden;
  }
  .dropdown-content{
    display: none;
    position: absolute;
  }
  .dropdown-content a{
    padding: 5px 5px;
  }
  .navbar a:hover, .dropdown:hover{
    background-color: brown;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .button{
    text-decoration: none;
    font: inherit;
    background: inherit;
    border: inherit;
    padding: 10px 10px;
    color: black;
  }